@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#header {
	grid-row-start: 1;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	max-height: 12.5vh;
}

#header-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-items * {
	min-height: 35px;
	max-height: 35px;
}

.header-pictures * {
	margin-left: 15px;
}

#header-searchbar {
	margin-left: 150px;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	background-color: white;
	margin: auto;
	display: none;
	position: absolute;
	width: 100%;
	min-width: 105px;
	min-height: 40px;
	overflow: auto;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
	right: 20%;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	display: block;
	color: #000000;
	padding: 5px;
	text-decoration: none;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f2f2f2;
}

.dropdown-button {
	display: none;
}

#ajustes {
	margin-right: 10px;
}

#main-centered {
	grid-row-start: 2;
	grid-row-end: 3;
	min-height: 75vh;
	margin: auto;
	overflow: auto;
}

.main-centered-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-centered-text {
	margin-right: 50px;
	margin-left: 30px;
	text-align:justify;
}

.main-centered-register {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.main-centered-register-items {
	border: 1px solid gray;
	margin: 10px;
}

.main-centered-register-items h2 {
	padding-left: 10px;
}

#main{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-template-columns: 1fr 7fr;
	grid-template-rows: 1fr;
	display: grid;
	min-height: 75vh;
	max-height: 75vh;
	overflow: auto;
}

#main-content{
	grid-column-start: 2;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: auto;
}

#main-content-split {
	grid-column-start: 2;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: baseline;
	align-items: flex-start;
	position: relative;
}

.main-content-split-items {
	margin-left: 30px;	
}

.main-content-split-items * {
	padding-bottom: 5px;	
}

.main-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

#side-menu{
	grid-column-start: 1;
	border-right: 1px solid black;	
	overflow: hidden;
}

#side-menu + * {
	overflow: auto;
}

#side-menu a {
  	display: block;
  	color: #000000;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	text-decoration: none;
  	text-align: left; 
  	padding-left: 25px;
  	border-top: 1px solid grey;
  	border-bottom: 1px solid grey
}

#side-menu h3{
	padding-left: 10px;
}

#side-menu a:hover {
	background-color: #f2f2f2;
}

#side-menu a active {
	background-color: #e0e0e0;
}

#footer {
	background: rgb(80, 131, 66);
	grid-row-start: 3;	
	justify-content: center;
	color: rgb(190, 190, 190);
}

.footer-items {
	padding-top: 15px;
	text-align: center;
	padding-right: 100px;
}

.footer-pictures {
	float: left;
	position: relative;
	left: 20px
}

#footer a:link {
	color: rgb(190, 190, 190);
	text-decoration: underline;
}

#footer a:hover {
	color: blue;
	text-decoration: underline;
}

body {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 6fr 1fr;
	display: grid;
	margin: auto;
	
}

table {
	border: 0px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
}

th {
	background: white;
	color: black;
	font-size: larger;
}

table.form {
	border: 1;
	padding: 4px;
	width: 80%;
	margin: 0 auto;
}

.error {
	color: red;
	margin: 5px;
	font-size: 12px;
	display:block;
}

.image-input {
  visibility: hidden;
}

.search-results a:link {
	color:black;
	text-decoration: none;
	padding-left: 10px;
}

.search-results:hover {
	background: #f2f2f2;
}

.search-results:table {
	margin:0px;
}

.stars input {
	display: none;
}
.stars label {
	float:right;
	font-size: 75px;
	color: lightgrey;
	margin: 0 5px;
	text-shadow: 1px 1px #bbb;
}

.stars label:before {
	content: '★';
}

.stars input:checked ~ label{
	color: gold;
	text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
	color: gold;
}

.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
	color: gold;
	text-shadow: 1px 1px goldenrod;
}

.stars .error {
	color: red;
	margin: 5px;
	font-size: 12px;
	text-shadow: none;
	
}

.stars .error input {
	display: none;
}

.stars .error label:before {
	content: '';
}

.blocked-stars input {
	display: none;
}
.blocked-stars label {
	float:right;
	font-size: 75px;
	color: lightgrey;
	margin: 0 5px;
	text-shadow: 1px 1px #bbb;
}

.blocked-stars label:before {
	content: '★';
}

.blocked-stars input:checked ~ label{
	color: gold;
	text-shadow: 1px 1px #c60;
}

.notification-bell{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	color: #333333;
	background: white;
	border: none;
	outline: none;
	border-radius: 50%;
}

.notification-bell:hover{
	cursor: pointer;
	background: #dddddd;
}

.notification-bell-badge{
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
	height: 20px;
	background: red;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	
}

#notifications-tab {
    border: 1px solid black;
    background-color: white;
    position: absolute;
    right: 7%;
    width: 500px;
    display: none;
    z-index: 1;
}

#notifications{
	display: inline-block;
	position: relative;
}

#notifications-tab div button {
	align-self: left;
}

#notifications-tab a:link {
	margin-left: 5px; 
}

.ui-accordion-header.ui-state-active { background-color: rgb(80, 131, 66); }

.notification-title-unread {
	position: absolute;
	width: 20px;
	height: 20px;
	background: red;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	left: 2px;
	top: 9px;
}

#chat-button{
	display: inline-block;
	position: relative;
}

.chat-icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	color: #333333;
	background: white;
	border: none;
	outline: none;
	border-radius: 50%;
}

.chat-icon:hover{
	cursor: pointer;
	background: #dddddd;
}

.chat-icon-badge{
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
	height: 20px;
	background: red;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	
}

#main-chat{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-template-columns: 2fr 6fr;
	grid-template-rows: 1fr;
	display: grid;
	min-height: 75vh;
	max-height: 75vh;
	overflow: auto;
}

#home-button{
	display: inline-block;
	position: relative;
}
/*CAMBIAR BOTÓN PARA QUE SEA MÁS EVIDENTE*/
.home-icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	color: #333333;
	background: transparent;
	border: 2px solid black;
	outline: none;
	border-radius: 30%;
}

.home-icon:hover{
	cursor: pointer;
	background: #dddddd;
}

.header-discussions {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	padding: 2px;
}

.header-discussions-title{
	font-size: 17.5px;
}

#discussions{
	grid-column-start: 1;
	border-right: 1px solid black;	
	overflow: hidden;
}

#discussions + * {
	overflow: auto;
}

#discussions .discussion-message {
  	color: #000000;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	text-decoration: none;
  	text-align: left; 
  	padding-left: 25px;
  	border-top: 1px solid grey;
  	border-bottom: 1px solid grey;
}

#discussions .discussion-message-active {
  	color: #000000;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	text-decoration: none;
  	text-align: left; 
  	padding-left: 25px;
  	border-top: 1px solid grey;
  	border-bottom: 1px solid grey;
  	background-color: #e0e0e0;
}

.discussion-message{
	display:flex;
	border-bottom: 1px solid black;
	padding-left: 20px;
	align-items: center;
	height: 50px;
}

.discussion-message .photo{
	border-radius: 50%;
	/*border: 1px solid black;*/
	height: 50px;
	width: 50px;
}

.discussion-message .photo + *{
	display:inline;
}

.discussion-message .name{
	text-align: center;
	padding-left: 20px;
}

.discussion-message-active{
	display:flex;
	border-bottom: 1px solid black;
	padding-left: 20px;
	align-items: center;
	height: 50px;
}

.discussion-message-active .photo{
	border-radius: 50%;
	/*border: 1px solid black;*/
	height: 50px;
	width: 50px;
}

.discussion-message-active .photo + *{
	display:inline;
}

.discussion-message-active .name{
	text-align: center;
	padding-left: 20px;
}

.mensajes_pendientes{
	position: relative;
	left: 15%;
	bottom: 10px;
	color: green;
}

#discussions h3{
	padding-left: 10px;
}

#discussions .discussion-message:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}

#discussions .discussion-message-active:hover {
	cursor: pointer;
}

#discussions .return:a{
	color: #000000;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	text-decoration: none;
  	text-align: left; 
  	padding-left: 25px;
  	border-top: 1px solid grey;
  	border-bottom: 1px solid grey;
}

.chat{
	display:flex;
	flex-direction: column;
	width: 100%;
}

.header-chat{
	display:flex;
	border-bottom: 1px solid black;
	padding-left: 20px;
	align-items: center;
}

.header-chat .photo{
	border-radius: 50%;
	/*border: 1px solid black;*/
	height: 60px;
	width: 60px;
}

.header-chat .photo + *{
	display:inline;
}

.header-chat .name{
	text-align: center;
	padding-left: 20px;
}

#messages-chat{
	
	display:flex;
	flex-direction: column;
	padding: 20px;
	font-size: 20px;
	overflow: auto;
	height: 100%;
}

.sent-message {
	align-self:flex-end;
	border-radius: 25px;
	padding: 5px;
	background-color: #abe4a3;
}

.received-message {
	align-self:flex-start;
	border-radius: 25px;
	padding: 5px;
	background-color: #eeeeee;
}

.footer-chat{
	display:flex;
	border-bottom: 1px solid black;
	padding-left: 20px;
	align-items: center;
	justify-content: center;
}

.footer-chat .write-message{
	border: 1px solid black;
	height: 50px;
	width: 70%;
}

.footer-chat .write-message + *{
	display:inline;
	padding: 20px;
}

.send-button{
	display: inline-block;
	position: relative;
	right: 6%;
}

.send-icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	color: #333333;
	background: white;
	border: none;
	outline: none;
	border-radius: 50%;
}

.send-icon:hover{
	cursor: pointer;
	background: #dddddd;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; 
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid black;
	border-left: none;
	margin-bottom: -1px;
	overflow: auto;
	position: relative;
	background: #fff;
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
}

ul.tabs li a:hover {
	background: #f2f2f2;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #e0e0e0;
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: auto;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}
/*
.tab_content {
	font-size: 1.2em;
}*/

.tab-parent {
	overflow: hidden;
}

.map {
	height: 100%;
	width: 100%;
}