@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#header {
	grid-row-start: 1;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	max-height: 12.5vh;
}

#header-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-items * {
	min-height: 35px;
	max-height: 35px;
}

.header-pictures * {
	margin-left: 15px;
}

#header-searchbar {
	margin-left: 150px;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	background-color: white;
	margin: auto;
	display: none;
	position: absolute;
	width: 100%;
	min-width: 105px;
	min-height: 40px;
	overflow: auto;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
	right: 20%;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	display: block;
	color: #000000;
	padding: 5px;
	text-decoration: none;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f2f2f2;
}

.dropdown-button {
	display: none;
}

#ajustes {
	margin-right: 10px;
}

#main-centered {
	grid-row-start: 2;
	grid-row-end: 3;
	min-height: 75vh;
	margin: auto;
	overflow: auto;
}

.main-centered-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-centered-text {
	margin-right: 50px;
	margin-left: 30px;
	text-align:justify;
}

.main-centered-register {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.main-centered-register-items {
	border: 1px solid gray;
	margin: 10px;
}

.main-centered-register-items h2 {
	padding-left: 10px;
}

#main{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-template-columns: 1fr 7fr;
	grid-template-rows: 1fr;
	display: grid;
	min-height: 75vh;
	max-height: 75vh;
	overflow: auto;
}

#main-content{
	grid-column-start: 2;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: auto;
}

#main-content-split {
	grid-column-start: 2;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: baseline;
}

.main-content-split-items {
	margin-left: 30px;
}

.main-content-split-items * {
	padding-top: 5px;
}

.main-content-split-items .stars {
	text-align: left;
}

.main-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

#side-menu{
	grid-column-start: 1;
	border-right: 1px solid black;	
	overflow: hidden;
}

#side-menu + * {
	overflow: auto;
}

#side-menu a {
  	display: block;
  	color: #000000;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	text-decoration: none;
  	text-align: left; 
  	padding-left: 25px;
  	border-top: 1px solid grey;
  	border-bottom: 1px solid grey
}

#side-menu h3{
	padding-left: 10px;
}

#side-menu a:hover {
	background-color: #f2f2f2;
}

#footer {
	background: rgb(80, 131, 66);
	grid-row-start: 3;	
	justify-content: center;
	color: rgb(190, 190, 190);
}

.footer-items {
	padding-top: 15px;
	text-align: center;
	padding-right: 100px;
}

.footer-pictures {
	float: left;
	position: relative;
	left: 20px
}

#footer a:link {
	color: rgb(190, 190, 190);
	text-decoration: underline;
}

#footer a:hover {
	color: blue;
	text-decoration: underline;
}

body {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 6fr 1fr;
	display: grid;
	margin: auto;
	
}

table {
	border: 0px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
}

th {
	background: white;
	color: black;
	font-size: larger;
}

table.form {
	border: 1;
	padding: 4px;
	width: 80%;
	margin: 0 auto;
}

.error {
	color: red;
	margin: 5px;
	font-size: 12px;
	display:block;
}

input[type=file] {
  visibility: hidden;
}

.search-results a:link {
	color:black;
	text-decoration: none;
	padding-left: 10px;
}

.search-results:hover {
	background: #f2f2f2;
}

.search-results:table {
	margin:0px;
}

.stars input {
	display: none;
}
.stars label {
	float:right;
	font-size: 100px;
	color: lightgrey;
	margin: 0 5px;
	text-shadow: 1px 1px #bbb;
}

.stars label:before {
	content: '*';
}

.stars input:checked ~ label{
	color: gold;
	text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
	color: gold;
}

.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
	color: gold;
	text-shadow: 1px 1px goldenrod;
}