@charset "ISO-8859-1";
#horizontalsplit {
	max-width:100%; 
	vertical-align:top; 
	float:none;
}

.left { 
	display:inline-block;
	max-width:100%; 
	vertical-align:top;
	float:none; 
	
}

.center { 
	display:block;
	max-width:100%; 
	vertical-align:middle;
	float:center; 
}

.right { 
	display:inline-block;
	max-width:100%; 
	vertical-align:top;
	float:none; 
}

#headermenu {
	display: table;
}

#headermenu div {
	display:inline-table; 
	vertical-align:middle;
	float:center;	
}

a:link {
	color: cornflowerBlue;
	text-decoration: none;
}

a:visited {
	color: indigo;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

a:active {
	color: red;
}

#headermenu a:link {
	font-size: larger;
}

.pageheading {
	color: darkblue;
}


table {
	border: 0px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
}

th {
	background: white;
	color: black;
	font-size: larger;
}

table.form {
	border: 1;
	padding: 4px;
	width: 80%;
	margin: 0 auto;
}

button {
	padding: 6px;
	border-radius: 5px;
}

button[type=submit] {
	font-weight: bold;
}

button:hover {
	background-color: white;
	color: black;
}

input {
	border: 1px solid;
	border-radius: 4px;	
	border-color: black;
	height: 20px;
}

#footermenu{
	background-color: rgb(80,131,66);
}

.error {
	color: red;
	margin: 5px;
}